body {
    background-image: url(../images/president_background.jpg);
}

.container {
    background-color: white;
}

#header,
#timer,
#answers,
#answer,
#question,
.question,
.choices {
    text-align: center;
}

.choices:hover {
    background-color: green;
}